a113028
a113028_v[0-9]
run_stderr.txt
v[0-9]_*.txt
v[0-9]*_err.txt
ab_*.txt
tail_b49.*
v5_ladder*
v6_ladder*
gmon.out

# Root-anchored build/debug junk (post-reorg; tracked files are unaffected)
/carrytrie*
/a113028_v1[0-9]
/a113028_prof
/alpha_go
/*.log
/*.err
/*.out
/bench_*.txt
/cert[0-9]*_*.txt
/candidates_log.txt
/bucket_*.log
/b[0-9]*_*.log
